.input-area {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  padding: 4px;
  font-size: 1.029rem;
  line-height: 1.2;
  border: 1px solid;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 0;
  border-radius: 4px;
  background-color: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block!important;
}
.input-area::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.6;
}
.input-area::-moz-placeholder {
  color: inherit;
  opacity: 0.6;
}
.input-area:-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}
.input-area::-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}
.input-area::placeholder {
  color: inherit;
  opacity: 0.6;
}
.input-area-disabled {
  opacity: 0.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.jwt-modal-header {
  font-size: 0.882rem;
  margin-bottom: 20px;
  word-break: break-word;
}
.jwt-modal-header a.focus-cont {
  display: inline;
}
.jwt-modal-header .c-radio-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}
.jwt-modal-header .c-radio-input input {
  margin: 0 5px 0 0;
}
.jwt-modal-header .c-radio-input label {
  white-space: normal;
}
.jwt-modal-header .c-radio-input .focus-cont {
  width: auto;
  height: auto;
}
.jwt-modal-header .c-consent {
  max-height: 175px;
  overflow-y: auto;
}

#mute-modal .mute-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}
#mute-modal .mute-settings span {
  width: 50%;
  height: 1.8em;
}
#mute-modal .mute-settings span * {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
#mute-modal .mute-settings span:first-child {
  margin-right: 5px;
}
#mute-modal .mute-settings .focus-el:not(:focus) .focus-cont {
  border: 1px solid #a4aab3 !important;
  border-radius: 2.5px !important;
}
#mute-modal .mute-settings .focus-el:not(:focus) .focus-cont:focus {
  border: 1px solid #53ADD9 !important;
  border-radius: 2.5px !important;
}
#mute-modal .mute-settings .focus-el .focus-cont:disabled {
  border: 1px solid #aaaaaa !important;
  color: #aaaaaa !important;
  background-color: #f2f2f2 !important;
}
#mute-modal .remove-alert {
  color: red;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 5px;
}
#mute-modal .remove-info {
  margin-top: 10px;
}
#mute-modal #user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#report-modal #header {
  font-size: 1rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 15px;
}
#report-modal #note {
  font-size: 0.882rem;
  margin-bottom: 15px;
}
#report-modal #reason {
  max-height: 90px;
  overflow-y: auto;
  margin-bottom: 15px;
}
#report-modal #reason .r-radio-group {
  text-align: left;
  font-size: 0.823rem;
}
#report-modal #reason .r-radio-group .r-radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#report-modal #reason .r-radio-group .r-radio-input input {
  width: 20px;
  margin: 0 5px;
}
#report-modal #reason .r-radio-group .r-radio-input label {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#report-modal #reason .r-radio-group .focus-cont {
  width: auto;
}
#report-modal #comment {
  width: 100%;
  resize: none;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a4aab3;
  border-radius: 2.5px;
}
#report-modal #comment:focus {
  outline: none;
  border: 1px solid #53ADD9;
}
/* TODO: customize color */
.report-toast-info {
  background-color: #0090D6;
}

#hide-modal #user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#presence-container {
  padding: 0;
  margin: 0;
}
.presence-summary {
  font-size: 0.794rem;
  padding: 0.125em 0.25em;
  text-align: center;
}

#typing-container {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.typing-summary {
  font-size: 0.794rem;
  padding: 0.125em 0.25em;
  color: #009900;
}

#emoji-picker-container {
  margin-top: 2px;
  background-color: #fff;
}
.my-picker {
  --ui-font: Arial, Helvetica, sans-serif!important;
  --border-radius: 0!important;
  --accent-color: #39AAE1!important;
  --secondary-background-color: #f2f2f2!important;
  --background-color: #f2f2f2!important;
  --category-name-background-color: #f2f2f2!important;
  width: 100%!important;
  border-radius: 0!important;
  /* .notFound { */
  /* } */
}
.my-picker .picmo__icon.picmo__icon-10x {
  font-size: 5em!important;
}
.my-picker header {
  padding-bottom: 0!important;
  gap: 4px!important;
}
.my-picker .picmo__categoryButtons {
  max-width: 100%!important;
}
.my-picker .picmo__categoryButtons .picmo__categoryTab .picmo__categoryButton {
  border: none!important;
  border-radius: 0!important;
}
.my-picker .picmo__categoryButtons .picmo__categoryTab .picmo__categoryButton:hover {
  background: none!important;
}
.my-picker .picmo__categoryButtons .picmo__categoryTab.picmo__categoryTabActive .picmo__categoryButton {
  background: none!important;
  border: none!important;
  border-bottom: 3px solid var(--category-tab-active-color) !important;
}
.my-picker .picmo__categoryButton {
  width: 1.4em !important;
  height: 1.4em !important;
}
.my-picker .picmo__categoryButton .picmo__icon {
  width: 1em!important;
  height: 0.75em !important;
}
.my-picker .picmo__categoryButton:focus-visible {
  outline: none!important;
}
.my-picker .picmo__categoryName {
  font-size: 0.8em !important;
}
.my-picker .picmo__categoryName svg {
  display: none!important;
}
.my-picker .picmo__variantOverlay {
  border-radius: 0!important;
}
.my-picker .picmo__emojiButton:focus {
  border-radius: 0!important;
  background: none!important;
  outline: none!important;
}
@media screen and (max-width: 420px) {
.my-picker header .categoryButtonsContainer {
    /* CSS4, not works on Firefox and others */
}
.my-picker header .categoryButtonsContainer .picmo__categoryTab {
    width: auto!important;
}
.my-picker header .categoryButtonsContainer .picmo__categoryTab:has(button[data-category="recents"]) {
    display: none!important;
}
.my-picker header .categoryButtonsContainer button[data-category="recents"] {
    display: none!important;
}
}
.picmo__skeleton {
  width: 100%!important;
  max-width: 100%!important;
  --ui-font: Arial, Helvetica, sans-serif!important;
  --border-radius: 0!important;
  --accent-color: #39AAE1!important;
  --secondary-background-color: #e7e7e7!important;
}
.picmo__skeleton header {
  /* background-color: blue!important; */
  max-width: 100%!important;
  width: 100%!important;
  border-radius: 0!important;
}
.picmo__skeleton header .picmo__categoryTabsSkeleton {
  -ms-flex-pack: distribute!important;
  justify-content: space-around !important;
  width: 100%!important;
}
.picmo__skeleton .picmo__contentSkeleton {
  /* .categoryName {
            width: 100%!important;
        } */
}
.picmo__skeleton .picmo__contentSkeleton .picmo__emojiGrid {
  width: 100%!important;
}

#gif-picker-container {
  margin-top: 2px;
  background-color: #f2f2f2;
}
#gif-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: 8px;
  /* margin-bottom: 8px; */
}
#gif-search-container .focus-el {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 0.25em;
}
#giphy-attr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#giphy-search {
  position: relative;
}
#giphy-search input {
  height: 30px;
  background: #f9fafb;
  border-radius: 3px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 0.9em;
  outline: none;
  padding: 0.5em 2.25em 0.5em 0.5em;
}
#giphy-search > [data-clear-input] {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
  color: #999999;
}
#giphy-search > input::-ms-clear {
  display: none;
}
#gif-search-container .focus-cont {
  border: none!important;
}
#gif-search-container .focus-el:not(:focus) .focus-cont:focus {
  background-color: #fff !important;
}
#gif-search-container .focus-el:focus .focus-cont {
  background-color: #fff !important;
}
#gif-search-container .focus-el .focus-cont:disabled {
  background-color: #f9fafb !important;
}
#gif-search-container img {
  height: 25px;
}
#gif-search-grid,
#gif-trending-grid {
  max-height: 180px;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 8px 0 8px;
}
#gif-search-grid.mobile,
#gif-trending-grid.mobile {
  max-height: 250px;
  height: 250px;
}
#gif-search-grid img,
#gif-trending-grid img {
  cursor: pointer;
}

#rc-picker-container {
  position: relative;
  overflow: hidden;
}
.invisible {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  -webkit-transform: transale3d(0, 0, 0);
  -ms-transform: transale3d(0, 0, 0);
  transform: transale3d(0, 0, 0);
  /* left: 0;
    bottom: -350px;
    */
}

.v-circle {
  border-radius: 50%;
  position: relative;
}
.v-circle .mask,
.v-circle .fill {
  position: absolute;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* .v-circle .pv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
}
.v-circle .pv .progress {
    margin: 0;
    padding: 0;
    font-family: 'Impact';
} */

#welcome-container[data-v-6c102a39] {
  font-style: italic;
  margin-bottom: 5px;
}
#welcome-container .message-bubble-content[data-v-6c102a39] {
  font-size: 0.823rem;
  max-height: 175px;
  overflow-y: auto;
}
.sticky[data-v-6c102a39] {
  padding: 5px;
  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  position: relative;
  /* box-shadow: 0px 15px 10px -15px #111; */
  /* border-bottom: 1px solid rgb(57, 170, 225);
    padding-bottom: 5px; */
  /* bottom border fade effect */
  /* background: linear-gradient(to bottom, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    padding-bottom: 35px; */
}
#welcome-container.sticky[data-v-6c102a39]:after {
  content: '';
  position: absolute;
  z-index: 1;
  height: 80px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(90%, #ffffff));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #ffffff 90%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 90%);
}

.identicon-container[data-v-2e81e75a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.125em;
}

.msg-options-menu-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  z-index: 2;
}
.msg-options-menu-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.msg-options-menu-wrapper .msg-options-menu {
  width: 50%;
  max-width: 10em;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2em 0.8em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2em 0.8em;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.25s linear, opacity 0.25s linear;
  -o-transition: visibility 0.25s linear, opacity 0.25s linear;
  transition: visibility 0.25s linear, opacity 0.25s linear;
}
.msg-options-menu-wrapper .msg-options-menu button {
  width: 100%;
  height: 2.5em;
  border: none;
  background: none;
  font-size: 0.941rem;
  cursor: pointer;
  padding: 0.25em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  color: #000;
}
.msg-options-menu-wrapper .msg-options-menu button.highlighted {
  color: #E13966;
}
.msg-options-menu-wrapper .msg-options-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.msg-options-menu-wrapper .msg-options-menu li:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}
.msg-options-menu-wrapper .msg-options-menu svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0.75em;
}
.msg-options-menu-wrapper .msg-options-menu span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.animate .bar1 {
  -webkit-animation: bar1Animation 1s ease forwards;
  animation: bar1Animation 1s ease forwards;
}
.animate .bar2 {
  -webkit-animation: bar2Animation 1s ease forwards;
  animation: bar2Animation 1s ease forwards;
}
.animate .bar3 {
  -webkit-animation: bar3Animation 1s ease forwards;
  animation: bar3Animation 1s ease forwards;
}
@-webkit-keyframes bar1Animation {
0% {
    height: 0;
    y: 24px;
}
100% {
    height: 16px;
    y: 8px;
}
}
@keyframes bar1Animation {
0% {
    height: 0;
    y: 24px;
}
100% {
    height: 16px;
    y: 8px;
}
}
@-webkit-keyframes bar2Animation {
0% {
    height: 0;
    y: 24px;
}
100% {
    height: 22px;
    y: 2px;
}
}
@keyframes bar2Animation {
0% {
    height: 0;
    y: 24px;
}
100% {
    height: 22px;
    y: 2px;
}
}
@-webkit-keyframes bar3Animation {
0% {
    height: 0;
    y: 24px;
}
100% {
    height: 6px;
    y: 18px;
}
}
@keyframes bar3Animation {
0% {
    height: 0;
    y: 24px;
}
100% {
    height: 6px;
    y: 18px;
}
}

#poll-container {
  padding: 5px;
}
#poll-container.hidden {
  visibility: hidden;
}
#poll-container #poll-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  border-radius: 0.25em;
  cursor: pointer;
}
#poll-container #poll-preview .icon-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#poll-container #poll-preview .icon-wrapper svg {
  width: 24px;
  height: 24px;
  outline: none;
}
#poll-container #poll-preview .icon-wrapper svg rect {
  fill: inherit;
}
#poll-container #poll-preview .question {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.823rem;
  margin: 0 0.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
}
#poll-container .question {
  text-align: left;
  overflow-wrap: break-word;
}
#poll-container #poll-answers {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-bottom: 1.25rem;
  max-height: calc(100vh - 340px);
  overflow-y: auto;
  overflow-x: hidden;
}
#poll-container #poll-answers li div.focus-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
#poll-container #poll-answers li div.focus-cont .check {
  font-size: smaller;
  font-weight: bold;
  margin-right: 0.5rem;
  width: 25px;
  text-align: right;
}
#poll-container #poll-answers li div.focus-cont .check:focus {
  outline: 1px solid #53ADD9;
}
#poll-container #poll-answers li div.focus-cont .radio {
  margin: 0 0.5rem 0 0;
  width: 25px;
}
#poll-container #poll-answers li div.focus-cont .radio:focus {
  outline: 1px solid #53ADD9;
}
#poll-container #poll-answers li div.focus-cont .text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #A4AAB3;
  overflow: hidden;
  overflow-wrap: break-word;
}
#poll-container #votes-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.25rem;
}
#poll-container #votes-stats.underlined {
  text-decoration: underline;
  cursor: pointer;
}
#poll-container #votes-stats svg {
  width: 1em;
  height: 1em;
  outline: none;
}
#poll-container #results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  max-height: calc(100vh - 340px);
  overflow-y: auto;
  margin-bottom: 1.25rem;
}
#poll-container #results li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0.25rem;
}
#poll-container #results li .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 0.5rem;
}
#poll-container #results li .left .percentage {
  font-size: smaller;
  font-weight: bold;
  width: 3em;
  text-align: right;
}
#poll-container #results li .left .check {
  width: 15px;
  height: 15px;
}
#poll-container #results li .right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  margin-right: 1px;
}
#poll-container #results li .right .text {
  overflow: hidden;
  overflow-wrap: break-word;
}
#poll-container #results li .right .bar {
  background-color: #39AAE1;
  height: 5px;
  border-radius: 2.5px;
  display: inline-block;
  min-width: 1px;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
#poll-container #signin-to-vote a {
  color: #39AAE1;
}
#poll-container #signin-to-vote button {
  width: initial!important;
}
#poll-container #final-results {
  font-style: italic;
  font-size: 14px;
}
#poll-container .btn-open-poll {
  min-width: auto!important;
}

.chat-container {
  /*background-color: #d2cec6;*/
  /*padding: 5px;*/
  /* Flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  /* flex: 1;

        overflow: hidden; */
  /* prevents the horizontal over-scroll of the welcome msg using scrollIntoView, not supported on iOS */
  overflow-x: clip;
  height: 100%;
}
.message-list-container {
  padding: 5px;
  background-color: #fff;
  /*        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;*/
  /* Flexbox */
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  overflow-y: auto;
}
.typing {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
}
.message-list-item {
  margin-bottom: 2px;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.message-list-separator-item {
  margin-bottom: 15px !important;
}
.message-bubble {
  position: relative;
  max-width: calc(80% - 50px);
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.6em;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px; */
}
.message-old-bubble {
  position: relative;
  max-width: calc(80% - 50px);
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.6em;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px; */
}
.left-message-bubble {
  border-bottom-right-radius: 0.25em;
}
.left-message-old-bubble {
  margin-left: 41px;
  border-bottom-right-radius: 0.25em;
}
.right-message-bubble {
  border-bottom-left-radius: 0.25em;
}
.right-message-old-bubble {
  margin-right: 41px;
  border-bottom-left-radius: 0.25em;
}
.message-bubble-time {
  font-size: 11px;
  color: white;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.message-bubble-content {
  /* font-size: 16px;
        &.desktop {
            font-size: 14px;
        } */
  font-size: 0.941rem;
  line-height: 1.2;
  word-wrap: break-word;
  white-space: pre-wrap;
  /* padding: 0.6em; */
}
.message-bubble-content-moderated,
.message-bubble-content-hidden {
  font-size: 0.823rem;
  line-height: 1.2;
  word-wrap: break-word;
  /* white-space: pre-wrap; */
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* padding: 0.6em; */
}
.message-bubble-content-moderated svg,
.message-bubble-content-hidden svg {
  width: 0.823rem;
  height: 0.823rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 2.5px;
  outline: none;
}
.message-bubble-content-moderated span,
.message-bubble-content-hidden span {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.message-bubble-content a {
  color: inherit;
  font-weight: bold;
}
.cited-message .content-moderated {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cited-message .content-moderated svg {
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 2.5px;
}
.cited-message.gif {
  max-width: 175px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* handle emoji magnification */
[data-ec="3"] .message-bubble-content {
  font-size: 1.5em;
}
[data-ec="2"] .message-bubble-content {
  font-size: 2.25em;
}
[data-ec="1"] .message-bubble-content {
  font-size: 3em;
}
/* [data-ec="1"],
    [data-ec="2"],
    [data-ec="3"] {
        background-color: rgb(255, 255, 255)!important;
    } */
.message-sender-profile-img-container {
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 36px;
}
.left-message-sender-profile-img-container {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.right-message-sender-profile-img-container {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.message-sender-profile-img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.message-sender-profile-img-left {
  margin-right: 5px;
}
.message-sender-profile-img-right {
  margin-left: 5px;
}
.message-list-item-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.right-message-list-item-row-1 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.left-message-list-item-row-1 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.message-list-item-row-2 {
  width: 100%;
  margin-top: 3px;
  font-size: 0.764rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.left-message-list-item-row-2 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.right-message-list-item-row-2 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.message-sender-name {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.compose-container {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  /* z-index: 2; */
  /* position: relative; */
}
.input-container {
  /*margin-top: 5px;*/
  padding: 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.picker-btn-container {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.input-area-container {
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.post-btn-container {
  -ms-flex-item-align: end;
  align-self: flex-end;
  /* height: 100%; */
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.stopper {
  margin-bottom: 5px;
}
.disabled-picker-btn {
  opacity: 0.3;
  pointer-events: none;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.chars-counter {
  text-align: right;
  font-size: 10px;
  color: #fff;
  padding: 4px 2px;
  border-radius: 2.5px;
}
.limit-reached {
  background-color: #E13966;
}
.message-day {
  text-align: center;
  color: #a4aab3;
  margin: 4px;
}
/* transitions */
/* .messages-enter-active, .messages-leave-active {
        transition: opacity .25s;
    }
    .messages-enter, .messages-leave-active {
        opacity: 0;
    } */
.chat-spinner {
  height: 40px;
}
.scroller {
  position: absolute;
  top: -65px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e7e7e7;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, .33); */
}
.picker-btn-container svg path,
.post-btn-container svg path {
  fill: #fff;
}
.scroller svg path {
  fill: #565043;
}
/* .message-fade-out-enter-active {
        transition: all .5s ease;
    }
    .message-fade-out-enter {
        transform: translateY(50px);
        opacity: 0;
    } */
.message-fade-out-leave-active {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.message-fade-out-leave-to {
  opacity: 0;
}
.auth-required,
.read-only,
.chat-disabled {
  padding: 10px 5px;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
.auth-required a {
  color: #fff;
}
.message-list-item-row-1:not(.mobile):hover .message-options {
  display: block;
}
.cited-message {
  border-radius: 0.25em;
  padding: 0.25em;
  margin-bottom: 0.25em;
  font-size: smaller;
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}
.cited-message .name {
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.cited-message .content,
.cited-message .content-moderated span {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.cited-gif-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cited-gif-wrapper .left-col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
}
.cited-gif-wrapper .left-col .type {
  font-weight: bold;
}
.cited-gif-wrapper .gif-content {
  margin-left: 2.5px;
}
.message-options {
  display: none;
}
.message-options .btn {
  width: 35px!important;
  height: 35px!important;
}
.message-options-right {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 0.125em;
}
.message-options-left {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin-right: 0.125em;
}
.reply-to-wrapper {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding: 0.25em 0.5em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reply-to-wrapper .cited-message {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  margin-right: 0.125em;
}
.highlight {
  z-index: 3;
}
.msg-badge {
  margin-left: 2.5px;
}

